%h1 Listing stocks

%table
  %thead
    %tr
      %th Ticker
      %th User
      %th
      %th
      %th

  %tbody
    - @stocks.each do |stock|
      - if stock.user_id == current_user.id
        - if stock.ticker.present?
          - @empty_error_msg = "Please Enter A Stock Symbol!"
        - elsif stock.ticker 
          - @ticker = StockQuote::Stock.quote(stock.ticker)
          - if !stock.ticker
            - @junk_error_msg = "Stock Symbol Doesn't Exist. Please Try Again!"
            
  
          
        %tr
          %td= @ticker.symbol
          %td= stock.user_id
          %td= link_to 'Show', stock
          %td= link_to 'Edit', edit_stock_path(stock)
          %td= link_to 'Destroy', stock, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stock', new_stock_path
